ErrorDocument 200 /mistakes/index.php?error=200%20OK&message=Se%20ha%20manejado%20correctamente%20una%20solicitud%20válida%20y,%20opcionalmente,%20se%20ha%20proporcionado%20una%20respuesta%20al%20usuario.
ErrorDocument 202 /mistakes/index.php?error=202%20Accepted&message=Se%20ha%20manejado%20correctamente%20una%20solicitud%20válida%20pero WebSphere%20MQ%20Managed%20File%20Transfer no%20garantiza%20que%20la%20acción%20solicitada%20se%20haya%20completado.
ErrorDocument 400 /mistakes/index.php?error=400%20Bad%20Request&message=El%20URI%20no%20es%20válido%20porque%20le%20falta%20un%20tipo%20de%20recurso.
ErrorDocument 403 /mistakes/index.php?error=403%20Forbidden&message=No%20se%20ha%20definido%20ningún%20identificador%20de%20usuario%20de IBM® WebSphere MQ Message%20Descriptor%20(MQMD)%20para%20el%20usuario.
ErrorDocument 404 /mistakes/index.php?error=404%20Not%20Found&message=No%20se%20puede%20encontrar%20el%20recurso%20solicitado.
ErrorDocument 405 /mistakes/index.php?error=405%20Method%20Not%20Allowed&message=El%20recurso%20solicitado%20no%20da%20soporte%20al%20verbo%20HTTP%20que%20se%20ha%20utilizado%20en%20la%20solicitud.
ErrorDocument 410 /mistakes/index.php?error=410%20Resource%20Gone&message=El%20recurso%20solicitado%20ya%20no%20está%20disponible.%20Por%20ejemplo,%20el%20archivo%20solicitado%20ha%20sido%20suprimido%20del%20espacio%20de%20archivos.
ErrorDocument 413 /mistakes/index.php?error=413%20Request%20Entity%20Too%20Large&message=La%20solicitud%20contiene%20un%20archivo%20que%20es%20demasiado%20grande%20para%20ser%20manejado%20por%20el%20servidor.
ErrorDocument 415 /mistakes/index.php?error=415%20Unsupported%20Media%20Type&message=Se%20ha%20recibido%20una%20solicitud%20con%20un%20tipo%20de%20medio,%20especificado%20por%20la%20cabecera%20HTTP Content-type,%20que%20no%20está%20soportado.
ErrorDocument 500 /mistakes/index.php?error=500%20Internal%20Server%20Error&message=Se%20ha%20encontrado%20un%20error%20interno%20al%20gestionar%20la%20solicitud.%20Se%20ha%20producido%20un%20archivo%20FFDC%20o%20ABEND.
ErrorDocument 502 /mistakes/index.php?error=502%20Bad%20Gateway&message=La%20solicitud%20no%20se%20puede%20completar%20porque%20se%20ha%20producido%20un%20error%20fuera%20de WebSphere%20MQ%20Managed%20File%20Transfer.%20Por%20ejemplo,%20una%20cola%20de IBM WebSphere MQ no%20está%20disponible.
ErrorDocument 503 /mistakes/index.php?error=503%20Service%20Unavailable&message=El%20destino%20no%20esta%20disponible%20temporalmente.%20Por%20ejemplo,%20una%20cola%20de IBM WebSphere MQ está%20llena.
ErrorDocument 504 /mistakes/index.php?error=504%20Gateway%20Timeout&message=Un%20intento%20de%20completar%20la%20solicitud%20ha%20sobrepasado%20el%20tiempo%20de%20espera%20debido%20a%20los%20límites%20de%20tiempo%20impuestos%20por WebSphere%20MQ%20Managed%20File%20Transfer,%20o%20debido%20a%20los%20límites%20de%20tiempo%20impuestos%20por%20el%20cliente%20HTTP.
